@keyframes ldio-dpuxd0li8ft {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.ldio-dpuxd0li8ft div {
  left: 90px;
  top: 48px;
  position: absolute;
  animation: ldio-dpuxd0li8ft linear 1.282051282051282s infinite;
  background: #088ae2;
  width: 20px;
  height: 24px;
  border-radius: 10px / 12px;
  transform-origin: 10px 52px;
}
.ldio-dpuxd0li8ft div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.2529137529137528s;
  background: #088ae2;
}
.ldio-dpuxd0li8ft div:nth-child(2) {
  transform: rotate(8.181818181818182deg);
  animation-delay: -1.2237762237762237s;
  background: #088ae2;
}
.ldio-dpuxd0li8ft div:nth-child(3) {
  transform: rotate(16.363636363636363deg);
  animation-delay: -1.1946386946386947s;
  background: #088ae2;
}
.ldio-dpuxd0li8ft div:nth-child(4) {
  transform: rotate(24.545454545454547deg);
  animation-delay: -1.1655011655011656s;
  background: #088ae2;
}
.ldio-dpuxd0li8ft div:nth-child(5) {
  transform: rotate(32.72727272727273deg);
  animation-delay: -1.1363636363636365s;
  background: #088ae2;
}
.ldio-dpuxd0li8ft div:nth-child(6) {
  transform: rotate(40.90909090909091deg);
  animation-delay: -1.1072261072261071s;
  background: #088ae2;
}
.ldio-dpuxd0li8ft div:nth-child(7) {
  transform: rotate(49.09090909090909deg);
  animation-delay: -1.078088578088578s;
  background: #088ae2;
}
.ldio-dpuxd0li8ft div:nth-child(8) {
  transform: rotate(57.27272727272727deg);
  animation-delay: -1.048951048951049s;
  background: #088ae2;
}
.ldio-dpuxd0li8ft div:nth-child(9) {
  transform: rotate(65.45454545454545deg);
  animation-delay: -1.0198135198135199s;
  background: #088ae2;
}
.ldio-dpuxd0li8ft div:nth-child(10) {
  transform: rotate(73.63636363636364deg);
  animation-delay: -0.9906759906759907s;
  background: #088ae2;
}
.ldio-dpuxd0li8ft div:nth-child(11) {
  transform: rotate(81.81818181818181deg);
  animation-delay: -0.9615384615384616s;
  background: #088ae2;
}
.ldio-dpuxd0li8ft div:nth-child(12) {
  transform: rotate(90deg);
  animation-delay: -0.9324009324009324s;
  background: #088ae2;
}
.ldio-dpuxd0li8ft div:nth-child(13) {
  transform: rotate(98.18181818181819deg);
  animation-delay: -0.9032634032634033s;
  background: #088ae2;
}
.ldio-dpuxd0li8ft div:nth-child(14) {
  transform: rotate(106.36363636363636deg);
  animation-delay: -0.8741258741258742s;
  background: #088ae2;
}
.ldio-dpuxd0li8ft div:nth-child(15) {
  transform: rotate(114.54545454545455deg);
  animation-delay: -0.844988344988345s;
  background: #088ae2;
}
.ldio-dpuxd0li8ft div:nth-child(16) {
  transform: rotate(122.72727272727273deg);
  animation-delay: -0.8158508158508159s;
  background: #088ae2;
}
.ldio-dpuxd0li8ft div:nth-child(17) {
  transform: rotate(130.9090909090909deg);
  animation-delay: -0.7867132867132867s;
  background: #088ae2;
}
.ldio-dpuxd0li8ft div:nth-child(18) {
  transform: rotate(139.0909090909091deg);
  animation-delay: -0.7575757575757576s;
  background: #088ae2;
}
.ldio-dpuxd0li8ft div:nth-child(19) {
  transform: rotate(147.27272727272728deg);
  animation-delay: -0.7284382284382285s;
  background: #088ae2;
}
.ldio-dpuxd0li8ft div:nth-child(20) {
  transform: rotate(155.45454545454547deg);
  animation-delay: -0.6993006993006993s;
  background: #088ae2;
}
.ldio-dpuxd0li8ft div:nth-child(21) {
  transform: rotate(163.63636363636363deg);
  animation-delay: -0.6701631701631702s;
  background: #088ae2;
}
.ldio-dpuxd0li8ft div:nth-child(22) {
  transform: rotate(171.8181818181818deg);
  animation-delay: -0.641025641025641s;
  background: #088ae2;
}
.ldio-dpuxd0li8ft div:nth-child(23) {
  transform: rotate(180deg);
  animation-delay: -0.6118881118881119s;
  background: #088ae2;
}
.ldio-dpuxd0li8ft div:nth-child(24) {
  transform: rotate(188.1818181818182deg);
  animation-delay: -0.5827505827505828s;
  background: #088ae2;
}
.ldio-dpuxd0li8ft div:nth-child(25) {
  transform: rotate(196.36363636363637deg);
  animation-delay: -0.5536130536130536s;
  background: #088ae2;
}
.ldio-dpuxd0li8ft div:nth-child(26) {
  transform: rotate(204.54545454545453deg);
  animation-delay: -0.5244755244755245s;
  background: #088ae2;
}
.ldio-dpuxd0li8ft div:nth-child(27) {
  transform: rotate(212.72727272727272deg);
  animation-delay: -0.49533799533799533s;
  background: #088ae2;
}
.ldio-dpuxd0li8ft div:nth-child(28) {
  transform: rotate(220.9090909090909deg);
  animation-delay: -0.4662004662004662s;
  background: #088ae2;
}
.ldio-dpuxd0li8ft div:nth-child(29) {
  transform: rotate(229.0909090909091deg);
  animation-delay: -0.4370629370629371s;
  background: #088ae2;
}
.ldio-dpuxd0li8ft div:nth-child(30) {
  transform: rotate(237.27272727272728deg);
  animation-delay: -0.40792540792540793s;
  background: #088ae2;
}
.ldio-dpuxd0li8ft div:nth-child(31) {
  transform: rotate(245.45454545454547deg);
  animation-delay: -0.3787878787878788s;
  background: #088ae2;
}
.ldio-dpuxd0li8ft div:nth-child(32) {
  transform: rotate(253.63636363636363deg);
  animation-delay: -0.34965034965034963s;
  background: #088ae2;
}
.ldio-dpuxd0li8ft div:nth-child(33) {
  transform: rotate(261.8181818181818deg);
  animation-delay: -0.3205128205128205s;
  background: #088ae2;
}
.ldio-dpuxd0li8ft div:nth-child(34) {
  transform: rotate(270deg);
  animation-delay: -0.2913752913752914s;
  background: #088ae2;
}
.ldio-dpuxd0li8ft div:nth-child(35) {
  transform: rotate(278.1818181818182deg);
  animation-delay: -0.26223776223776224s;
  background: #088ae2;
}
.ldio-dpuxd0li8ft div:nth-child(36) {
  transform: rotate(286.3636363636364deg);
  animation-delay: -0.2331002331002331s;
  background: #088ae2;
}
.ldio-dpuxd0li8ft div:nth-child(37) {
  transform: rotate(294.54545454545456deg);
  animation-delay: -0.20396270396270397s;
  background: #088ae2;
}
.ldio-dpuxd0li8ft div:nth-child(38) {
  transform: rotate(302.72727272727275deg);
  animation-delay: -0.17482517482517482s;
  background: #088ae2;
}
.ldio-dpuxd0li8ft div:nth-child(39) {
  transform: rotate(310.90909090909093deg);
  animation-delay: -0.1456876456876457s;
  background: #088ae2;
}
.ldio-dpuxd0li8ft div:nth-child(40) {
  transform: rotate(319.09090909090907deg);
  animation-delay: -0.11655011655011654s;
  background: #088ae2;
}
.ldio-dpuxd0li8ft div:nth-child(41) {
  transform: rotate(327.27272727272725deg);
  animation-delay: -0.08741258741258741s;
  background: #088ae2;
}
.ldio-dpuxd0li8ft div:nth-child(42) {
  transform: rotate(335.45454545454544deg);
  animation-delay: -0.05827505827505827s;
  background: #088ae2;
}
.ldio-dpuxd0li8ft div:nth-child(43) {
  transform: rotate(343.6363636363636deg);
  animation-delay: -0.029137529137529136s;
  background: #088ae2;
}
.ldio-dpuxd0li8ft div:nth-child(44) {
  transform: rotate(351.8181818181818deg);
  animation-delay: 0s;
  background: #088ae2;
}
.loadingio-spinner-spinner-e025mju0phs {
  width: 200px;
  margin-left: 50%;
  transform: translateX(-50%);
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: rgba(255, 101, 80, 0);
}
.ldio-dpuxd0li8ft {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-dpuxd0li8ft div {
  box-sizing: content-box;
}
