.Items_wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 210px;
  grid-auto-columns: 210px;
  text-align: center;
}

@media screen and (max-width: 955px) {
  .Items_wrapper {
    display: flex;
    flex-direction: column;
  }
}
